:root {
  --main-color: #212121;
  --background-color: #2f303a;
  --highlight-color: #2196f3;
  --secondary-color: #ffffff;
  --secondary-text-color: #757575;
  --secondary-background-color: #f5f4fa;
  --logo-color: #000000;
  --contact-footer-color: rgba(255, 255, 255, 0.6);
  --icons-color: #afb1b8;
  --icons-background-footer: rgba(255, 255, 255, 0.1);
}

body {
  font-family: 'Roboto', sans-serif;
  color: var(--main-color);
  width: 1600px;
  margin: 0 auto;
}

p {
  margin: 0;
}

h2 {
  margin: 0;
  padding: 0;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

button {
  border: 0;
}

input {
  border: 0;
}

.header {
  border-bottom: 1px solid #ececec;
}

.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}

.header-container {
  display: flex;
  align-items: baseline;
  padding-top: 24px;
  padding-bottom: 25px;
}

.logo {
  text-decoration: none;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  font-family: 'Raleway';
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.logo:hover {
  color: var(--highlight-color);
}

.logo:focus {
  color: var(--highlight-color);
}

.logo--header {
  color: var(--logo-color);
  width: 145px;
}

.logo_highlight {
  color: var(--highlight-color);
}

.navigation {
  display: flex;
  width: 254px;
  margin-left: 93px;
}

.navigation > li:not(:last-child) {
  margin-right: 46px;
}

.navigation_link {
  text-decoration: none;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  color: var(--main-color);
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  position: relative;
}

.navigation_link:hover {
  color: var(--highlight-color);
}

.navigation_link:focus {
  color: var(--highlight-color);
}

.navigation_link--index::after {
  content: '';
  color: var(--highlight-color);
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -28px;
}

.contact-header {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  text-decoration: none;
  color: var(--secondary-text-color);
  fill: var(--secondary-text-color);
  transition-property: color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-header:hover {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact-header:focus {
  color: var(--highlight-color);
  fill: var(--highlight-color);
}

.contact-header--mail {
  margin-left: 371px;
  width: 161px;
}

.contact-header_icon-envelope {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}

.contact-header--tel {
  margin-left: 50px;
  width: 130px;
}

.contact-header_icon-smartphone {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.welcome-section {
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)),
    url(../images/background-img.jpg);
  background-size: 1600px;
}

.title-container {
  padding-top: 106px;
  padding-bottom: 106px;
}

.title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: var(--secondary-color);
  margin: 0 auto;
  width: 696px;
  text-align: center;
}

.title_button {
  display: block;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.86;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  width: 200px;
  margin: 0 auto;
  margin-top: 30px;
  padding: 10px 42px;
  transition-property: color, background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.title_button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.title_button:focus {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
}

.lorem-ispum-list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  width: 1170px;
}

.lorem-ispum-list > li {
  width: 270px;
}

.lorem-ispum-list_icon {
  width: 270px;
  height: 120px;
  background: var(--secondary-background-color);
  border-radius: 4px;
  margin-bottom: 30px;
  position: relative;
}

.lorem-ispum-list_icon > svg {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.lorem-ispum-list_icon--antenna {
  width: 65.32px;
  height: 70px;
}

.lorem-ispum-list_icon--clock {
  width: 66.96px;
  height: 70px;
}

.lorem-ispum-list_icon--diagram {
  width: 70px;
  height: 70px;
}

.lorem-ispum-list_icon--astronaut {
  width: 70px;
  height: 70px;
}

.lorem-ispum-list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
}

.lorem-ispum-list_descryption {
  font-size: 14px;
  line-height: 1.71;
  color: var(--secondary-text-color);
}

.secondary-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  margin: 0 auto;
}

.offer-list {
  display: flex;
  margin-top: 50px;
  width: 1170px;
}

.offer-list > li {
  width: 370px;
  height: 294px;
  position: relative;
}

.offer-list > li:not(:last-child) {
  margin-right: 30px;
}

.offer-list_box {
  width: 370px;
  height: 70px;
  background-color: rgba(47, 48, 58, 0.8);
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding-top: 27px;
  z-index: 1;
}

.offer-list_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  color: var(--secondary-color);
  display: block;
  width: fit-content;
  margin: 0 auto;
}

.team-section {
  background-color: var(--secondary-background-color);
}

.team-list {
  display: flex;
  margin-top: 50px;
  width: 1170px;
}

.team-list > li:not(:last-child) {
  margin-right: 30px;
}

.team-list_member {
  background-color: var(--secondary-color);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  padding-bottom: 30px;
  width: 270px;
  margin: 0;
}

.team-list_name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  margin: 0 auto;
  margin-top: 30px;
  width: 72px;
}

.team-list_job {
  font-size: 16px;
  line-height: 1.19;
  color: var(--secondary-text-color);
  margin: 0 auto;
  margin-top: 10px;
  display: block;
  text-align: center;
}

.team-list_media {
  width: 206px;
  height: 44px;
  margin: 0 auto;
  margin-top: 16px;
  display: flex;
  gap: 10px;
}

.team-list_media > li {
  width: 44px;
  height: 44px;
  fill: var(--icons-color);
  border-radius: 50%;
  transition-property: background-color, fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-list_media > li:hover {
  background-color: var(--highlight-color);
  border-radius: 50%;
  fill: var(--secondary-color);
}

.team-list_media > li:focus {
  background-color: var(--highlight-color);
  border-radius: 50%;
  fill: var(--secondary-color);
}

.social-media-icon {
  width: 20px;
  height: 20px;
  display: block;
  margin: 0 auto;
  margin-top: 12px;
}

.clients-list {
  display: flex;
  gap: 30px;
  margin-top: 50px;
  transition-property: fill, border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-list > li {
  width: 170px;
  height: 92px;
  border: 1px solid var(--icons-color);
  border-radius: 4px;
  fill: var(--icons-color);
  position: relative;
}

.clients-list > li:hover {
  fill: var(--highlight-color);
  border-color: var(--highlight-color);
}

.clients-list > li:focus {
  fill: var(--highlight-color);
  border-color: var(--icons-color);
}

.clients-list_item {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.clients-list_item--company1 {
  width: 41px;
  height: 46.7px;
}

.clients-list_item--company2 {
  width: 40px;
  height: 52px;
}

.clients-list_item--company3 {
  width: 43.46px;
  height: 41.18px;
}

.clients-list_item--company4 {
  width: 84.44px;
  height: 40.62px;
}

.clients-list_item--company5 {
  width: 62.54px;
  height: 45.43px;
}

.clients-list_item--company6 {
  width: 93.79px;
  height: 43.93px;
}

.footer {
  background-color: var(--background-color);
}

.footer-container {
  padding-top: 60px;
  padding-left: 15px;
  padding-bottom: 60px;
  display: flex;
}

.logo--footer {
  color: var(--secondary-color);
}

.address {
  margin-top: 20px;
  width: 246px;
}

.address_place {
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--secondary-color);
}

.address_contact {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  text-decoration: none;
  color: var(--contact-footer-color);
  margin-top: 9px;
  transition-property: color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.address_contact:hover {
  color: var(--highlight-color);
}

.address_contact:focus {
  color: var(--highlight-color);
}

.social-media-footer {
  width: 206px;
  height: 80px;
  margin-top: 10px;
  margin-left: 70px;
}

.social-media-footer_title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
  text-transform: uppercase;
}

.social-media-footer_list {
  width: 206px;
  height: 44px;
  margin: 0 auto;
  margin-top: 20px;
  display: flex;
  gap: 10px;
}

.social-media-footer_list > li {
  width: 44px;
  height: 44px;
  fill: var(--secondary-color);
  background-color: var(--icons-background-footer);
  border-radius: 50%;
  transition-property: background-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-footer_list > li:hover {
  background-color: var(--highlight-color);
}

.social-media-footer_list > li:focus {
  background-color: var(--highlight-color);
}

.newsletter {
  margin-left: 78px;
  width: 570px;
  display: flex;
}

.newsletter_tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  color: var(--secondary-color);
  margin-bottom: 20px;
  display: block;
  text-transform: uppercase;
}

.newsletter_input {
  height: 50px;
  width: 358px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background: none;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  color: var(--contact-footer-color);
  padding-left: 10px;
}

.newsletter_button {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  color: var(--secondary-color);
  width: 200px;
  height: 50px;
  background: var(--highlight-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  display: flex;
  margin-left: 10px;
  justify-content: center;
  align-items: center;
  margin-top: 36px;
}

.newsletter_icon {
  width: 24px;
  margin-left: 24px;
  fill: var(--secondary-color);
}

.backdrop {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 2;
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 528px;
  min-height: 581px;
  background-color: var(--secondary-color);
  z-index: 2;
  transform: translate(-50%, -50%) scale(1);
  transition-property: transform;
  transition-duration: 1s;
  transition-timing-function: ease;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.4);
}

.close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background-color: var(--secondary-color);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal_tittle {
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  margin-top: 40px;
}

.modal-form {
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  margin-left: 40px;
  margin-right: 40px;
  justify-content: center;
}

.modal-form > button {
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: var(--highlight-color);
  font-weight: 700;
  font-size: 16px;
  line-height: 1.89;
  color: var(--secondary-color);
  margin: 0 auto;
  margin-top: 30px;
}

.modal-form > label {
  position: relative;
}

.modal-form_box {
  position: relative;
}

.modal-form_box:focus-within {
  fill: var(--highlight-color);
}

.modal-form_box:hover {
  fill: var(--highlight-color);
}

.modal-form_label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  color: var(--secondary-text-color);
}

.modal-form_label:not(:first-child) {
  margin-top: 10px;
}

.modal-form_icon-user {
  width: 12px;
  height: 12px;
  position: absolute;
  bottom: 14px;
  left: 15px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_icon-mail {
  width: 15px;
  height: 12px;
  position: absolute;
  bottom: 14px;
  left: 13.5px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_input {
  width: 448px;
  height: 40px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  margin-top: 4px;
  padding-left: 42px;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_input:focus {
  border-color: var(--highlight-color);
}

.modal-form_input:hover {
  border-color: var(--highlight-color);
}

.modal-form_icon-phone {
  width: 13px;
  height: 13px;
  position: absolute;
  bottom: 13.74px;
  left: 14.27px;
  transition-property: fill;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_textarea {
  width: 448px;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  color: rgba(117, 117, 117, 0.5);
  margin-top: 4px;
  padding: 12px 16px;
  resize: none;
  transition-property: border-color;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-form_textarea:hover {
  border-color: var(--highlight-color);
}

.modal-form_textarea:focus {
  border-color: var(--highlight-color);
}

.modal-form-checkbox {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  position: relative;
}

.modal-form-checkbox_input {
  width: 16px;
  height: 15px;
  opacity: 0;
  position: absolute;
  left: 25px;
  z-index: 1;
}

.modal-form-checkbox_input:checked + .modal-form_icon-checkbox {
  background-color: var(--highlight-color);
  border-color: var(--highlight-color);
}

.modal-form_icon-checkbox {
  width: 16px;
  height: 15px;
  border: 2px solid var(--main-color);
  border-radius: 1px;
  position: relative;
}

.modal-form_icon-check {
  width: 11px;
  height: 8px;
  position: absolute;
  top: 2px;
  left: 1px;
  stroke: var(--secondary-color);
  stroke-width: 0.2px;
}

.terms {
  font-size: 14px;
  line-height: 1.7;
  color: var(--secondary-text-color);
  margin-left: 8px;
}

.temrs_highlight {
  color: var(--highlight-color);
  text-decoration: underline;
}

.navigation_link--portfolio::after {
  content: '';
  color: var(--highlight-color);
  width: 100%;
  height: 4px;
  background-color: var(--highlight-color);
  border-radius: 2px;
  display: block;
  position: absolute;
  bottom: -28px;
}

.browser-list {
  display: flex;
  justify-content: center;
}

.browser-list > li:not(:last-child) {
  margin-right: 8px;
}

.list-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  cursor: pointer;
  background-color: var(--secondary-background-color);
  border-radius: 4px;
  padding: 6px 22px;
  transition-property: color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.list-button:hover {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.list-button:focus {
  background-color: var(--highlight-color);
  color: var(--secondary-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.category-list {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  gap: 30px;
  width: 1170;
}

.category-list > li {
  transition-property: box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list > li:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.category-list > li:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.category-list_item:hover .category-list_overlay {
  transform: translateY(0);
}

.category-list_box {
  position: relative;
  width: 370px;
  height: 294px;
  overflow: hidden;
}

.category-list_overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding-top: 49px;
  padding-left: 24px;
  background-color: var(--highlight-color);
  opacity: 0.9;
  transform: translateY(100%);
  transition-property: transform;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.category-list_descryption {
  font-size: 18px;
  line-height: 1.56;
  color: var(--secondary-color);
  opacity: 1;
}

.category-list_footer {
  padding: 20px 24px;
  border-left: 1px solid #eeeeee;
  border-right: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

.category-list_title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
}

.category-list_category {
  font-size: 16px;
  line-height: 1.86;
  color: var(--secondary-text-color);
  margin-top: 4px;
}
